
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/logo.png" height="50">
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/customers">Klienci</a></li>
        <li routerLinkActive="active"><a routerLink="/suppliers">Dostawcy</a></li>
        <li routerLinkActive="active"><a routerLink="/components">Komponenty</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> {{ getVersionService().getVersion() }} </a></li>
        <li><a href="#"> {{ getVersionService().getVersionDate() }} </a></li>
        <li><a href="#" (click)="onLogOff()">Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>
