<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
  <div class="row">
    <div class="col-md-3">
      {{ item.getElementName()}}
    </div>
    <div class="col-md-1">
      {{ item.getAmount()}}
    </div>
    <div class="col-md-1">
      {{ item.getLimit()}}
    </div>
    <div class="col-md-1">
      {{ item.getLoss()}}
    </div>
    <div class="col-md-1">
      {{ item.getWarehouseName()}}
    </div>
    <div class="pull-right">
      <a style="cursor: pointer;" >Edytuj</a>
    </div>
  </div>
</a>

