<form (ngSubmit)="onAddPerson(f)" #f="ngForm">

  <div class="form-group">
    <input type="text"
           id="firstName"
           class="form-control"
           placeholder="Imię"
           ngModel
           name="firstName"
           required>
  </div>

  <div class="form-group">
    <input type="text"
           id="lastName"
           class="form-control"
           placeholder="Nazwisko"
           ngModel
           name="lastName"
           required>
  </div>

  <div class="form-group">
    <input type="text"
           id="email"
           class="form-control"
           placeholder="Email"
           ngModel
           name="email"
           required
           email="">
  </div>

  <button class="btn btn-success" type="submit">Zapisz</button>
  <button class="btn btn-danger" type="button" (click)="onCancel()">Anuluj</button>
</form>

<hr>

<!--(click)="onAdd(firstInput, lastInput, emailInput)"-->
